@import 'tailwindcss';

/* Ensures proper map/marker containment */
#map {
    position: relative !important;
  }
  
  .mapboxgl-marker {
    position: absolute;
    top: 0;
    left: 0;
  }


  .store-marker {
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -100%);
    cursor: pointer;
  }
  
  .user-marker {
    width: 1.5rem;
    height: 1.5rem;
    background: #EF4444;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translate(-50%, -50%);
  }